<template>
  <admin-app-layout>
    <bread-cumb Route="flood.index" Title="flood Module" SubTitle="Activate"  ButtonText="Back"/>

    <div class="row">
      <!-- Column -->
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Activate Module</h5>
            <div class="row">
              <div class="col-sm-12">
                <form class="form-horizontal row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label class="form-control-label" for="inputSuccess1"
                            >Device ID</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="name"
                            v-model="form.device_id"
                          />
                          <div class="valid-feedback">
                            Success! You've done it.
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label class="form-control-label" for="inputSuccess1"
                            >Latitude</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="email"
                            v-model="form.lat"
                          />
                          <div class="valid-feedback">
                            Success! You've done it.
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label class="form-control-label" for="inputSuccess1"
                            >Longitude</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="email"
                            v-model="form.lng"
                          />
                          <div class="valid-feedback">
                            Success! You've done it.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      
                      <div class="col">
                        <div class="form-group ">
                          <button 
                            type="button"
                            class="btn btn-primary mt-3"
                            :disabled="form.processing"
                            @click="submit()"
                          >
                            <span
                              v-if="form.processing"
                              class="spinner-border spinner-border-sm"
                              role="status"
                              aria-hidden="true"
                            ></span>
                            <span v-if="form.processing">Loding...</span>
                            <span v-else>Submit</span>
                          </button>
                          <button
                            type="button"
                            @click="resetFrom()"
                            class="btn btn-inverse mt-3"
                          >
                            Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
  </admin-app-layout>
</template>


<script>
import AdminAppLayout from '../../Layouts/AdminAppLayout.vue';
import BreadCumb from '../../Layouts/partial/BreadCumb.vue';
export default {
  components: {
    AdminAppLayout,
    BreadCumb,
 
  },

  props: ["moduleDetail"],

  data() {
    return {
        form: this.$inertia.form({
        device_id: this.moduleDetail.device_id,
        lat: this.moduleDetail.lat,
        id: this.moduleDetail.id,
        lng: this.moduleDetail.lng,
      }),
    };
  },
  mounted() {},
  methods: {
    submit() {
    //   if (this.form.id != null) {
        // return this.update();
    //   } else {
        return this.validate();
    //   }
    },
    store() {
      // return console.log(this.form.role_name)
      this.form.post(route("flood.updateModule"), {
        errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          return this.$root.show_swal("Device Activated", "success");
        },
        onError: () => {
          this.$root.show_swal("Device Activation Failed!", "error");
        },
      });
    },
    validate(){
      if(this.form.lat !='' || this.form.lng!=''){
        return this.store();
      }else{
        this.$root.show_swal("Please Fill both latitude and longitudes", "error");
      }
    },
    
    resetFrom() {
      this.form.reset();
      this.form.errors = {};
    },
  }
};
</script>
