<template>
  <admin-app-layout>
    <bread-cumb Route="flood.index" Title="flood Module" SubTitle="All" ButtonText="Back" />
   
    <div class="row">
      <!-- Column -->
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Flood Modules</h5>
            <div class="row">
              <div class="col-sm-12">
                <div class="row mt-5">
                  <div class="table-responsive">
                    <table
                      class="table color-bordered-table red-bordered-table"
                    >
                      <thead>
                        <tr>
                          <th>#Time</th>
                          <th>Device ID</th>
                          <th>Temperature</th>
                          <th>Humidity</th>
                          <th>Water Level</th>
                          <th>Water Flow Speed</th>
                          <th>WindSpeed</th>
                          <th>Raining</th>
                          <th>Risk Level</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="moduleDetail in moduleDetails"
                          :key="moduleDetail.id"
                        >
                          <td>{{ moduleDetail.created_at }}</td>
                          <td>{{ moduleDetail.flood_module.device_id}}</td>
                          <td>{{ moduleDetail.temp }}</td>
                          <td>{{ moduleDetail.humidity }}</td>
                          <td>{{ moduleDetail.water_level }}</td>
                          <td>{{ moduleDetail.water_speed }}</td>
                          <td>{{ moduleDetail.wind_speed }}</td>
                          <td >
                            <span v-if="moduleDetail.is_raining == 1" class="badge badge-pill badge-info"
                              >RAINING</span
                            >
                            <span v-if="moduleDetail.is_raining == 0" class="badge badge-pill badge-danger"
                              >No</span
                            >
                          </td>
                          <td >
                            <span v-if="moduleDetail.temp < 36" class="badge badge-pill badge-primary"
                              >NORMAL</span
                            >
                            <span v-if="moduleDetail.temp >= 36" class="badge badge-pill badge-danger"
                              >Highly Risky</span
                            >
                          </td>

                          
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
  </admin-app-layout>
</template>


<script>
import AdminAppLayout from "../../Layouts/AdminAppLayout.vue";
import BreadCumb from "../../Layouts/partial/BreadCumb.vue";
import swal from 'vue-sweetalert2';
import axios from "axios";
export default {
  components: {
    AdminAppLayout,
    BreadCumb,
  },

  props: ["moduleDetails"],

  data() {
    return {};
  },
  mounted() {},
  methods: {
    newDevice() {
      axios
        .get(route('fie.store'), {

        })
        .then((response) => {
         console.log(response)
          this.$swal(response.data.deviceId, "New Device Created!", "success")
          .then(function() {
          location.reload();
          });;
        });
    },
    edit() {
      this.$root.show_swal("Your New", "error");
    },
  },
};
</script>
