<template>
  <admin-app-layout>
    <bread-cumb
      Route="fire.index"
      Title="Fire Module"
      SubTitle="All"
      ButtonText="Back"
    />

    <div class="row">
      <!-- Column -->
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Fire Module Details (Temperature)</h5>
            <div class="row">
              <div class="col-sm-12">
                <div class="row mt-5">
                    <line-chart :data="TempChartData" :labels="labels" ></line-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
    <!-- <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Fire Module Details(Humidity)</h5>
            <div class="row">
              <div class="col-sm-12">
                <div class="row mt-5">
                    <line-chart :data="HumidChartData" :name="chartLabel"></line-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </admin-app-layout>
</template>


<script>
import AdminAppLayout from "../../Layouts/AdminAppLayout.vue";
import BreadCumb from "../../Layouts/partial/BreadCumb.vue";
import axios from "axios";
export default {
  components: {
    AdminAppLayout,
    BreadCumb,
  },

  props: ["moduleDetails"],

  data() {
    return {
      TempChartData: [{name: 'FIRE0', data: {'13:23': 32, '13:33': 4, '13:43': 23, '13:53': 43}},
                      {name: 'FIRE1', data: {'13:23': 32, '13:33': 3, '13:43': 27, '13:53': 42}},
                      {name: 'FIRE2', data: {'13:23': 34, '13:33': 3, '13:43': 21, '13:53': 41}},
                      {name: 'FIRE3', data: {'13:23': 35, '13:33': 5, '13:43': 22, '13:53': 45}},
                      {name: 'FIRE4', data: {'13:23': 32, '13:33': 4, '13:43': 29, '13:53': 43}}
      ]
    //   HumidChartData: [
    //       {name: 'FIRE0', data: {'2017-01-01 00:00:00 -0800': 3, '2017-01-02 00:00:00 -0800': 23, '2017-01-05 00:00:00 -0800': 4}},
    //         {name: 'FIRE1', data: {'2017-01-01 00:00:00 -0800': 5, '2017-01-02 00:00:00 -0800': 3}}
    //   ],
    };
  },
  mounted() {},
  methods: {
    newDevice() {
      axios.get(route("fie.store"), {}).then((response) => {
        console.log(response);
        this.$swal(
          response.data.deviceId,
          "New Device Created!",
          "success"
        ).then(function () {
          location.reload();
        });
      });
    },
    edit() {
      this.$root.show_swal("Your New", "error");
    },
  },
};
</script>
