<template>
  <admin-app-layout>
    <!-- <bread-cumb Route="fire.initializeModuleV" Title="Fire Module" SubTitle="All" /> -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Fire Module</h4>
      </div>
      <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)">Fire Module</a>
            </li>
            <li class="breadcrumb-item active">All</li>
          </ol>
          <a class="btn btn-info d-none d-lg-block m-l-15" @click="newDevice()">
            <i class="fa fa-plus-circle"></i>Create New</a
          >
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Column -->
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Fire Modules</h5>
            <div class="row">
              <div class="col-sm-12">
                <div class="row mt-5">
                  <div class="table-responsive">
                    <table
                      class="table color-bordered-table red-bordered-table"
                    >
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Device ID</th>
                          <th>Latitude</th>
                          <th>Longitude</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="moduleDetail in moduleDetails"
                          :key="moduleDetail.id"
                        >
                          <td>{{ moduleDetail.id }}</td>
                          <td>{{ moduleDetail.device_id }}</td>
                          <td>{{ moduleDetail.lat }}</td>
                          <td>{{ moduleDetail.lng }}</td>
                          <td v-if="moduleDetail.status == 1">
                            <span class="badge badge-pill badge-info"
                              >ACTIVE</span
                            >
                          </td>
                          <td v-if="moduleDetail.status == 0">
                            <span class="badge badge-pill badge-danger"
                              >INACTIVE</span
                            >
                          </td>

                          <td style="text-align: center">
                            <div class="btn btn-block btn-outline-success">
                              <button
                                type="button"
                                @click="this.edit()"
                                class="
                                  ml-2
                                  btn
                                  waves-effect waves-light
                                  btn-rounded btn-xs btn-primary
                                "
                              >
                                UNBLOCK
                              </button>

                              <inertia-link
                                :href="
                                  route('fire.view', moduleDetail.id)
                                "
                                class="btn btn-info ml-2"
                              >
                                <i class="fa fa-plus-eye"></i
                                >VIEW</inertia-link
                              >
                              <inertia-link
                                :href="
                                  route('fire.updateModuleV', moduleDetail.id)
                                "
                                class="btn btn-info ml-2"
                              >
                                <i class="fa fa-plus-circle"></i
                                >EDIT</inertia-link
                              >
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
  </admin-app-layout>
</template>


<script>
import AdminAppLayout from "../../Layouts/AdminAppLayout.vue";
import BreadCumb from "../../Layouts/partial/BreadCumb.vue";
import swal from 'vue-sweetalert2';
import axios from "axios";
export default {
  components: {
    AdminAppLayout,
    BreadCumb,
  },

  props: ["moduleDetails"],

  data() {
    return {};
  },
  mounted() {},
  methods: {
    newDevice() {
      axios
        .get(route('fire.store'), {

        })
        .then((response) => {
         console.log(response)
          this.$swal(response.data.deviceId, "New Device Created!", "success")
          .then(function() {
          location.reload();
          });;
        });
    },
    edit() {
      this.$root.show_swal("Your New", "error");
    },
  },
};
</script>
