<template>
  <admin-app-layout>

  </admin-app-layout>
</template>

<script>
import AdminAppLayout from "../Layouts/AdminAppLayout.vue";

export default {
  components: {
    AdminAppLayout,
  },
  data() {
    return {
      //   chartData :{
      //           "Temperature":34,
      //           "Humidity":67,
      //           "Wind Speeds":129,
      //           "Temperaturse":34,
      //           "Humiditys":67,
      //           "Wind Speed":129,
      //       }

    
    };
  },
};
</script>
